src/main/webapp/wsdl/Image.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://modal" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://modal" xmlns:intf="http://modal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://modal" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="toString">
    <complexType/>
   </element>
   <element name="toStringResponse">
    <complexType>
     <sequence>
      <element name="toStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNom">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNomResponse">
    <complexType/>
   </element>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getDescription">
    <complexType/>
   </element>
   <element name="getDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescription">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescriptionResponse">
    <complexType/>
   </element>
   <element name="setCheminImage">
    <complexType>
     <sequence>
      <element name="cheminImage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setCheminImageResponse">
    <complexType/>
   </element>
   <element name="getNom">
    <complexType/>
   </element>
   <element name="getNomResponse">
    <complexType>
     <sequence>
      <element name="getNomReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCheminImage">
    <complexType/>
   </element>
   <element name="getCheminImageResponse">
    <complexType>
     <sequence>
      <element name="getCheminImageReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionRequest">

      <wsdl:part element="impl:setDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toStringRequest">

      <wsdl:part element="impl:toString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNomResponse">

      <wsdl:part element="impl:setNomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionResponse">

      <wsdl:part element="impl:getDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCheminImageResponse">

      <wsdl:part element="impl:setCheminImageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionRequest">

      <wsdl:part element="impl:getDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNomRequest">

      <wsdl:part element="impl:setNom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionResponse">

      <wsdl:part element="impl:setDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCheminImageRequest">

      <wsdl:part element="impl:setCheminImage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCheminImageResponse">

      <wsdl:part element="impl:getCheminImageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNomRequest">

      <wsdl:part element="impl:getNom" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toStringResponse">

      <wsdl:part element="impl:toStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCheminImageRequest">

      <wsdl:part element="impl:getCheminImage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNomResponse">

      <wsdl:part element="impl:getNomResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Image">

      <wsdl:operation name="toString">

         <wsdl:input message="impl:toStringRequest" name="toStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:toStringResponse" name="toStringResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNom">

         <wsdl:input message="impl:setNomRequest" name="setNomRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNomResponse" name="setNomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdl:input message="impl:getDescriptionRequest" name="getDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescriptionResponse" name="getDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdl:input message="impl:setDescriptionRequest" name="setDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDescriptionResponse" name="setDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCheminImage">

         <wsdl:input message="impl:setCheminImageRequest" name="setCheminImageRequest">

       </wsdl:input>

         <wsdl:output message="impl:setCheminImageResponse" name="setCheminImageResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNom">

         <wsdl:input message="impl:getNomRequest" name="getNomRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNomResponse" name="getNomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCheminImage">

         <wsdl:input message="impl:getCheminImageRequest" name="getCheminImageRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCheminImageResponse" name="getCheminImageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImageSoapBinding" type="impl:Image">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="toString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCheminImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCheminImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setCheminImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNomRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNomResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCheminImage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCheminImageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCheminImageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImageService">

      <wsdl:port binding="impl:ImageSoapBinding" name="Image">

         <wsdlsoap:address location="http://localhost:8080/ProjetSoa/services/Image"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
